<h3><i class="fa fa-medkit custom"></i> Covid Books</h3> 
<div class="section">
    <p class="lead">Share your Expereience with Covid and genuine  remedies dealing with Covid 19</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>